{% extends 'base.html' %}

{% block content %}
    <body>
        <h1>Categories:</h1>
        
        {% for cat in categories %}
        <h4>{{ cat.name }}</h4>
        <table>
            <tr>
                <th>Name</th>
                <th>ID</th>
            </tr>
            {% for prod in products %}
                {% if prod.category_id == cat.id %}
                <tr>
                    <th>{{ prod.name }}</th>
                    <th>{{ prod.id }}</th>
                </tr>
                {% endif %}
            {% endfor %}
        </table >
        {% endfor %}    
    </body>
{% endblock %}